pkgbase = 4kvideodownloader-bin
	pkgdesc = Download online video. 4K Video Downloader allows to download video and audio content from YouTube and other services.
	pkgver = 4.18.1.4500
	pkgrel = 1
	url = http://www.4kdownload.com/products/product-videodownloader
	install = 4kvideodownloader.install
	arch = x86_64
	license = custom:eula
	makedepends = patchelf
	depends = ffmpeg
	depends = openssl-1.0
	depends = portaudio
	depends = qt5-base
	depends = qt5-declarative
	options = !strip
	options = !emptydirs
	source = 4kvideodownloader_4.18.1.4500_amd64.deb::https://dl.4kdownload.com/app/4kvideodownloader_4.18.1-1_amd64.deb
	sha256sums = e2f8a61c366c5031ac8e009ccf58c6ffe31f21037a5b782fc553e0faf1c02f1d

pkgname = 4kvideodownloader-bin
