pkgbase = 4kvideodownloader-bin
	pkgdesc = Download online video. 4K Video Downloader allows to download video and audio content from YouTube and other services.
	pkgver = 4.19.4.4720
	pkgrel = 1
	url = http://www.4kdownload.com/products/product-videodownloader
	install = 4kvideodownloader.install
	arch = x86_64
	license = custom:eula
	makedepends = patchelf
	depends = ffmpeg
	depends = openssl-1.0
	depends = portaudio
	depends = qt5-base
	depends = qt5-declarative
	options = !strip
	options = !emptydirs
	source = 4kvideodownloader_4.19.4.4720_amd64.deb::https://dl.4kdownload.com/app/4kvideodownloader_4.19.4-1_amd64.deb
	sha256sums = 50d9d7b12f55d08c734abfb8e285a0e13d8aaa790d7b049d2a9d236bec63bc43

pkgname = 4kvideodownloader-bin
